<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT contentBase ANY>
<!ATTLIST contentBase id ID #REQUIRED>
<!ELEMENT feature ANY>
<!ATTLIST feature id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT navigationBase ANY>
<!ATTLIST navigationBase id ID #REQUIRED>
<!ELEMENT blog ANY>
<!ATTLIST blog id ID #REQUIRED>
<!ELEMENT blogpost ANY>
<!ATTLIST blogpost id ID #REQUIRED>
<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
<!ELEMENT contentPage ANY>
<!ATTLIST contentPage id ID #REQUIRED>
<!ELEMENT product ANY>
<!ATTLIST product id ID #REQUIRED>
<!ELEMENT products ANY>
<!ATTLIST products id ID #REQUIRED>
<!ELEMENT menuSchedule ANY>
<!ATTLIST menuSchedule id ID #REQUIRED>
<!ELEMENT menu ANY>
<!ATTLIST menu id ID #REQUIRED>
]>
<root id="-1">
  <home id="1103" key="156f1933-e327-4dce-b665-110d62720d03" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-12-17T13:18:15" updateDate="2017-12-22T04:19:27" nodeName="Home" urlName="home" path="-1,1103" isDoc="" nodeType="1093" creatorName="Mykola" writerName="Mykola" writerID="0" template="1064" nodeTypeAlias="home" isPublished="true">
    <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Full Width",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media",
                "macro",
                "embed",
                "headline"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "macroAlias": "latestBlogposts",
                    "macroParamsDictionary": {
                      "numberOfPosts": "3",
                      "startNodeId": "umb://document/1cb33e0a400a49389547b05a35739b8b"
                    }
                  },
                  "editor": {
                    "alias": "macro"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "cbb67dcf-dc82-700a-617f-84e754458e6a"
        }
      ]
    }
  ]
}]]></bodyText>
    <font>40</font>
    <colorTheme>37</colorTheme>
    <sitename><![CDATA[Canteen Service]]></sitename>
    <HeroBackgroundImage><![CDATA[umb://media/fa6b5390d6164d7ea8c5e39e9c19cbff]]></HeroBackgroundImage>
    <heroCTACaption><![CDATA[Check Out]]></heroCTACaption>
    <HeroCtalink><![CDATA[umb://document/485343b1d99c4789a676e9b4c98a38d4]]></HeroCtalink>
    <heroHeader><![CDATA[We always care about hungry students]]></heroHeader>
    <heroDescription><![CDATA[Service was created for monitoring university canteens]]></heroDescription>
    <footerAddress><![CDATA[Address]]></footerAddress>
    <products id="1104" key="485343b1-d99c-4789-a676-e9b4c98a38d4" parentID="1103" level="2" creatorID="0" sortOrder="0" createDate="2017-12-17T13:18:15" updateDate="2017-12-22T04:24:05" nodeName="Canteens" urlName="canteens" path="-1,1103,1104" isDoc="" nodeType="1102" creatorName="Mykola" writerName="Mykola" writerID="0" template="1069" nodeTypeAlias="products" isPublished="true">
      <pageTitle><![CDATA[Canteens List]]></pageTitle>
      <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Three Columns",
          "areas": [
            {
              "grid": 4,
              "allowAll": true,
              "hasConfig": false,
              "controls": []
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": []
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": []
            }
          ],
          "hasConfig": false,
          "id": "b5cb169f-cc14-1410-07ac-778cab64fd72"
        }
      ]
    }
  ]
}]]></bodyText>
      <umbracoNavihide>0</umbracoNavihide>
      <defaultCurrency><![CDATA[Monday]]></defaultCurrency>
      <featuredProducts><![CDATA[umb://document/e09253c015204aac802390742b6180dc,umb://document/9c4dffe2201541998576fdf7120c861d,umb://document/cb88aaa910a942fbac7be3e993d493f5]]></featuredProducts>
      <product id="1105" key="e09253c0-1520-4aac-8023-90742b6180dc" parentID="1104" level="3" creatorID="0" sortOrder="0" createDate="2017-12-17T13:18:15" updateDate="2017-12-22T03:07:26" nodeName="Main Canteen" urlName="main-canteen" path="-1,1103,1104,1105" isDoc="" nodeType="1101" creatorName="Mykola" writerName="Mykola" writerID="0" template="1068" nodeTypeAlias="product" isPublished="true">
        <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></bodyText>
        <menuSchedule><![CDATA[umb://document/63aa1204c6d449709638261a47ffd9bc]]></menuSchedule>
        <description><![CDATA[Here will be a cool story]]></description>
        <productName><![CDATA[Main Canteen]]></productName>
        <sku><![CDATA[UMB-BIKER-JACKET]]></sku>
        <photos><![CDATA[umb://media/a552d1275edc4047aafac3dd100b45d6]]></photos>
        <address><![CDATA[University Street 1]]></address>
      </product>
      <product id="1106" key="cb88aaa9-10a9-42fb-ac7b-e3e993d493f5" parentID="1104" level="3" creatorID="0" sortOrder="1" createDate="2017-12-17T13:18:15" updateDate="2017-12-20T21:42:34" nodeName="Second Floor Canteen" urlName="second-floor-canteen" path="-1,1103,1104,1106" isDoc="" nodeType="1101" creatorName="Mykola" writerName="Mykola" writerID="0" template="1068" nodeTypeAlias="product" isPublished="true">
        <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></bodyText>
        <description><![CDATA[I am not content manage. Do it yourself]]></description>
        <productName><![CDATA[Second Floor Canteen]]></productName>
        <sku><![CDATA[UMB-TATTOO]]></sku>
        <photos><![CDATA[umb://media/c5bde5b8d0e84883b887a3e39ebb1363]]></photos>
        <address><![CDATA[University Street 1]]></address>
      </product>
      <product id="1107" key="9c4dffe2-2015-4199-8576-fdf7120c861d" parentID="1104" level="3" creatorID="0" sortOrder="2" createDate="2017-12-17T13:18:15" updateDate="2017-12-22T04:43:49" nodeName="Some Imagine Canteen" urlName="some-imagine-canteen" path="-1,1103,1104,1107" isDoc="" nodeType="1101" creatorName="Mykola" writerName="Mykola" writerID="0" template="1068" nodeTypeAlias="product" isPublished="true">
        <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></bodyText>
        <menuSchedule><![CDATA[umb://document/b905bf01700d4a44ac7c065f6604f1a9]]></menuSchedule>
        <description><![CDATA[Dometry Canteen]]></description>
        <productName><![CDATA[Some Imagine Canteen]]></productName>
        <sku><![CDATA[UMB-UNICORN]]></sku>
        <photos><![CDATA[umb://media/b594f90b53bb455ea1476d484d84444c]]></photos>
        <address><![CDATA[Medova Pechera 39]]></address>
      </product>
      <product id="1163" key="abe1d741-1bc0-44fa-bffa-b3da1a8845ea" parentID="1104" level="3" creatorID="0" sortOrder="3" createDate="2017-12-21T19:13:55" updateDate="2017-12-21T19:13:55" nodeName="Test" urlName="test" path="-1,1103,1104,1163" isDoc="" nodeType="1101" creatorName="Mykola" writerName="Mykola" writerID="0" template="1068" nodeTypeAlias="product" isPublished="true">
        <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></bodyText>
        <description><![CDATA[TestDesc]]></description>
        <productName><![CDATA[TestName]]></productName>
        <photos><![CDATA[umb://media/208abda163b54ba1bc2a3d40fe156bb6]]></photos>
        <address><![CDATA[TestAddress]]></address>
      </product>
    </products>
    <blog id="1122" key="1cb33e0a-400a-4938-9547-b05a35739b8b" parentID="1103" level="2" creatorID="0" sortOrder="3" createDate="2017-12-17T13:18:16" updateDate="2017-12-22T04:06:25" nodeName="Feedbacks" urlName="feedbacks" path="-1,1103,1122" isDoc="" nodeType="1095" creatorName="Mykola" writerName="Mykola" writerID="0" template="1060" nodeTypeAlias="blog" isPublished="true">
      <pageTitle><![CDATA[Left Here Feedback about service]]></pageTitle>
      <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></bodyText>
      <umbracoNavihide>0</umbracoNavihide>
      <howManyPostsShouldBeShown><![CDATA[2]]></howManyPostsShouldBeShown>
      <blogpost id="1123" key="7eedc1b4-b045-4084-8174-9588146ac012" parentID="1122" level="3" creatorID="0" sortOrder="0" createDate="2017-12-17T13:18:16" updateDate="2017-12-22T04:06:57" nodeName="My Blog Post" urlName="my-blog-post" path="-1,1103,1122,1123" isDoc="" nodeType="1096" creatorName="Mykola" writerName="Mykola" writerID="0" template="1061" nodeTypeAlias="blogpost" isPublished="true">
        <umbracoNavihide>0</umbracoNavihide>
        <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Full Width",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media",
                "embed",
                "headline",
                "rte",
                "macro"
              ],
              "config": null,
              "styles": null,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Donec sollicitudin molestie malesuada. Vivamus suscipit tortor eget felis porttitor volutpat. Sed porttitor lectus nibh. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec sollicitudin molestie malesuada.</p>\n<p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Donec sollicitudin molestie malesuada. Vivamus suscipit tortor eget felis porttitor volutpat. Sed porttitor lectus nibh. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec sollicitudin molestie malesuada.</p>\n<p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Donec sollicitudin molestie malesuada. Vivamus suscipit tortor eget felis porttitor volutpat. Sed porttitor lectus nibh. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec sollicitudin molestie malesuada.</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ]
            }
          ],
          "styles": null,
          "config": null,
          "hasConfig": false,
          "id": "4dc695d1-336c-0733-399e-0dda19d61c36"
        }
      ]
    }
  ]
}]]></bodyText>
        <pageTitle><![CDATA[Tasty Сurd Fritter]]></pageTitle>
        <excerpt><![CDATA[Mmm... Realy testy]]></excerpt>
        <categories><![CDATA[demo,umbraco,starter kit]]></categories>
      </blogpost>
    </blog>
    <contact id="1126" key="71a7e71e-7db2-4b9d-a71c-559b11c683c0" parentID="1103" level="2" creatorID="0" sortOrder="4" createDate="2017-12-17T13:18:16" updateDate="2017-12-22T04:17:05" nodeName="Contact" urlName="contact" path="-1,1103,1126" isDoc="" nodeType="1097" creatorName="Mykola" writerName="Mykola" writerID="0" template="1062" nodeTypeAlias="contact" isPublished="true">
      <umbracoNavihide>0</umbracoNavihide>
      <contactForm><![CDATA[adf160f1-39f5-44c0-b01d-9e2da32bf093]]></contactForm>
      <contactFormHeader><![CDATA[Send Us A Message]]></contactFormHeader>
      <pageTitle><![CDATA[Let's have a chat]]></pageTitle>
      <contactIntro><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget lacinia nisl. Aenean sollicitudin diam vitae enim ultrices, semper euismod magna efficitur.</p>]]></contactIntro>
      <mapHeader><![CDATA[How to find us]]></mapHeader>
      <apiKey><![CDATA[AIzaSyBSjIm2tkaskXtivVDbvlXcWkP6JDCoqA4]]></apiKey>
      <map><![CDATA[{
  "zoom": 15,
  "position": {
    "id": "WGS84",
    "datum": "49.840678,24.022636"
  }
}]]></map>
    </contact>
    <menuSchedule id="1161" key="63aa1204-c6d4-4970-9638-261a47ffd9bc" parentID="1103" level="2" creatorID="0" sortOrder="5" createDate="2017-12-21T18:38:50" updateDate="2017-12-22T03:07:36" nodeName="Main Canteen Menu" urlName="main-canteen-menu" path="-1,1103,1161" isDoc="" nodeType="1155" creatorName="Mykola" writerName="Mykola" writerID="0" template="1154" nodeTypeAlias="menuSchedule" isPublished="true">
      <umbracoNavihide>1</umbracoNavihide>
      <menu id="1162" key="162e3ae6-497d-4011-a661-0da8ab2dff48" parentID="1161" level="3" creatorID="0" sortOrder="4" createDate="2017-12-21T18:40:38" updateDate="2017-12-22T03:53:00" nodeName="Monday Menu" urlName="monday-menu" path="-1,1103,1161,1162" isDoc="" nodeType="1160" creatorName="Mykola" writerName="Mykola" writerID="0" template="1159" nodeTypeAlias="menu" isPublished="true">
        <weekDay><![CDATA[Monday]]></weekDay>
        <endTime><![CDATA[18:00]]></endTime>
        <description><![CDATA[Monday Menu]]></description>
        <startTime><![CDATA[9:00]]></startTime>
        <dishes><![CDATA[umb://media/8b154654f20a4a01884b9d831231d71f,umb://media/c6f520df77214904a38946ba7d5f9784,umb://media/97aeca7a303c473b8766ec65795c83d5]]></dishes>
      </menu>
    </menuSchedule>
    <menuSchedule id="1173" key="b905bf01-700d-4a44-ac7c-065f6604f1a9" parentID="1103" level="2" creatorID="0" sortOrder="6" createDate="2017-12-22T04:27:59" updateDate="2017-12-22T04:30:58" nodeName="Some Imagine Canteen Menu" urlName="some-imagine-canteen-menu" path="-1,1103,1173" isDoc="" nodeType="1155" creatorName="Mykola" writerName="Mykola" writerID="0" template="1154" nodeTypeAlias="menuSchedule" isPublished="true">
      <umbracoNavihide>1</umbracoNavihide>
      <menu id="1175" key="1c47f3d8-b131-4963-abd2-f456ea4350bc" parentID="1173" level="3" creatorID="0" sortOrder="0" createDate="2017-12-22T04:36:58" updateDate="2017-12-22T04:39:03" nodeName="Wednesday Menu" urlName="wednesday-menu" path="-1,1103,1173,1175" isDoc="" nodeType="1160" creatorName="Mykola" writerName="Mykola" writerID="0" template="1159" nodeTypeAlias="menu" isPublished="true">
        <description><![CDATA[Bla BVL]]></description>
      </menu>
    </menuSchedule>
    <menuSchedule id="1174" key="14306985-4ab7-452a-be73-78e967132ca3" parentID="1103" level="2" creatorID="0" sortOrder="7" createDate="2017-12-22T04:28:30" updateDate="2017-12-22T04:30:00" nodeName="Second Floor Canteen Menu" urlName="second-floor-canteen-menu" path="-1,1103,1174" isDoc="" nodeType="1155" creatorName="Mykola" writerName="Mykola" writerID="0" template="1154" nodeTypeAlias="menuSchedule" isPublished="true">
      <umbracoNavihide>1</umbracoNavihide>
    </menuSchedule>
  </home>
</root>